
<div class="reports">
    <mat-card *ngFor="let report of reports" class="reports_card">
        <mat-card-header>
            <mat-card-title>{{report.author.first_name}} {{report.author.last_name}}</mat-card-title>
            <mat-card-subtitle>#{{ report.id }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>{{report.description}}</p>
            <mat-divider></mat-divider>
            <mat-chip-listbox class="card_observations">
                <mat-chip-option *ngFor="let obs of report.observations">{{obs.value}}</mat-chip-option>
            </mat-chip-listbox>
        </mat-card-content>
        <mat-card-actions align="end">
            <a mat-button routerLink="/edit/{{report.id}}" matTooltip="Modifier le report #{{report.id}}"  color="primary">MODIFIER</a>
        </mat-card-actions>
    </mat-card>
</div>

<a routerLink="/add" 
    aria-label="Ajouter un signalement"
    ariaCurrentWhenActive="page" 
    class="fab-add"
    matTooltip="Ajouter un signalement" 
    routerLinkActive="active" 
    mat-fab>
    <mat-icon>add</mat-icon>
</a>