
.reports {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @media (max-width: 1200px) {
        justify-content: center;
    }

    &_card {
        width: 400px;
        margin: 10px;
    }

    .card_observations {
        margin-top: 10px ;
    }

}

.fab-add {
    display: none;
    position: absolute;
    right: 16px;
    bottom: 16px;

    @media (max-width: 1200px) {
        display: flex;
    }
}

