<mat-toolbar class="header" color="primary">
    <span>{{title}}</span>
    <span class="header_spacer"></span>
    <a mat-icon-button 
        class="header_add" 
        routerLink="/add" 
        matTooltip="Ajouter un signalement">
        <mat-icon>add</mat-icon>
    </a>
</mat-toolbar>
<router-outlet></router-outlet>
