
.report-form {
    padding: 10px;
    max-width: 1200px;
    margin: auto;

    &_actions {
        justify-content: end;

        * {
            margin: 0 10px;
        }
    }
}

.flex-row {

    .mat-mdc-form-field:first-child {
        margin-right: 10px;
    }

    .mat-mdc-form-field:last-child {
        margin-left: 10px;
    }

    @media (max-width: 599px) {
        flex-direction: column;
        
        .mat-mdc-form-field:first-child,
        .mat-mdc-form-field:last-child {
            margin-left: 0;
            margin-right: 0;
        }
    }

}

.mat-mdc-form-field {
    width: 100%;
    margin-bottom: 10px;

    textarea {
        height: 250px
    }
}

.mat-mdc-chip {
    margin-right: 10px !important;
}