
<div class="report-form">

    <h2 mat-dialog-title>Formulaire de signalement</h2>

    <form [formGroup]="reportForm" class="flex-container flex-column">
        
        <div class="flex-container flex-row">
            <!-- Firstname -->
            <mat-form-field appearance="fill">
                <mat-label>Prénom</mat-label>
                <input matInput name="first_name" formControlName="first_name" >
                <mat-error>  
                    <span *ngIf="reportForm.get('first_name')?.errors?.['required']">
                        Le prénom est obligatoire
                    </span>  
                    <span *ngIf="reportForm.get('first_name')?.errors?.['maxlength']">    
                        La valeur est trop grande (50 max)
                    </span>
                </mat-error>
            </mat-form-field>
        
            <!-- Lastname -->
            <mat-form-field appearance="fill">
                <mat-label>Nom</mat-label>
                <input matInput name="last_name" formControlName="last_name">
                <mat-error>
                    <span *ngIf="reportForm.get('last_name')?.errors?.['required']">    
                        Le nom de famille est obligatoire
                    </span>
                    <span *ngIf="reportForm.get('last_name')?.errors?.['maxlength']">    
                        La valeur est trop grande (50 max)
                    </span>
                </mat-error>
            </mat-form-field>

            <!-- Gender -->
            <mat-form-field appearance="fill">
                <mat-label>Genre</mat-label>
                <mat-select name="gender" formControlName="sexe">
                    <mat-option>---</mat-option>
                    <mat-option *ngFor="let g of gender" [value]="g">{{g}}</mat-option>
                </mat-select>
                <mat-error>
                    Il faut choisir un Genre
                </mat-error>
            </mat-form-field>
        </div>

        <div class="flex-container flex-row">
            <!-- Email -->
            <mat-form-field appearance="fill">
                <mat-label>Mail</mat-label>
                <input type="email" matInput name="email" formControlName="email">
                <mat-error>
                    <span *ngIf="reportForm.get('email')?.errors?.['required']">
                        L'email est obligatoire
                    </span>
                    <span *ngIf="reportForm.get('email')?.errors?.['email']">
                        L'email saisie n'est pas au norme
                    </span>
                    <span *ngIf="reportForm.get('email')?.errors?.['existe']">
                        L'email saisie existe déjà
                    </span>
                </mat-error>
            </mat-form-field>
            
            <!-- Birthday -->
            <mat-form-field appearance="fill">
                <mat-label>Date d'anniversaire</mat-label>
                <input matInput [matDatepicker]="picker" name="birthday" formControlName="birth_day">
                <mat-hint>jj/mm/aaaa</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error>
                    <span *ngIf="reportForm.get('birth_day')?.errors?.['required']">
                        Il faut saisir une date conforme
                    </span>
                    <span *ngIf="reportForm.get('birth_day')?.errors?.['tooOld']">
                        Vous avez vraiement plus de 100 ans ?
                    </span>
                </mat-error>
            </mat-form-field>
        </div>
    
        <!-- description -->
        <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <textarea matInput
                name="description" 
                placeholder="Y a comme un problème..." 
                formControlName="description"
                >
            </textarea>
            <mat-error>
                La description est obligatoire
            </mat-error>
        </mat-form-field>

        <!-- Observations -->
        <mat-form-field appearance="fill">
            <mat-label>Observation(s)</mat-label>
            <mat-select multiple name="observations" formControlName="observations">
                <mat-select-trigger>
                    <mat-chip-row *ngFor="let observation of observationsValid?.value" (removed)="removeObservation(observation)">
                        {{observation.value}}
                    </mat-chip-row>
                </mat-select-trigger>
                <mat-option *ngFor="let observation of observationsList" [value]="observation">{{observation.value}}</mat-option>
            </mat-select>
            <mat-error>
                Il n'est possible de selectionne que les observations de la liste
            </mat-error>
        </mat-form-field>
        
        <div class="report-form_actions flex-container">
            <a mat-button routerLink="/" >Annuler</a>
            <button mat-raised-button 
                color="primary" 
                (click)="saveReport()" >
                Valider
            </button>
        </div>
    </form>
</div>