
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  background-color: #fafafa;
}

.flex-container {
  display: flex;
  
  &.flex-row {
      flex-direction: row;
  }
  &.flex-column {
      flex-direction: column;
  }
}