
@use '@angular/material' as mat;

@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$signalement-primary: mat.define-palette(mat.$indigo-palette);
$signalement-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);
$signalement-warn: mat.define-palette(mat.$red-palette);

$my-typography: mat.define-typography-config();

$signalement-theme: mat.define-light-theme((
  color: (
    primary: $signalement-primary,
    accent: $signalement-accent,
    warn: $signalement-warn,
  ),
  typography: $my-typography,
));

@include mat.all-component-themes($signalement-theme);